<footer class="footer">
  <div class="footer-container">
    <!-- Columna izquierda -->
    <div class="footer-left">
      <img src="assets/image/logo.webp" alt="Plan 50" class="footer-logo">
      <div class="legal-links">
        <p class="company-name">Jgil MultiMarket - Sucursal España</p>
        <a href="#">Legal</a>
        <a href="#">Aviso legal</a>
        <a href="#">Políticas y términos de privacidad</a>
        <a href="#">Políticas de cookies</a>
        <a href="#">Contacto legal</a>
        <a href="#">Contacto legal</a>
        <a (click)="showMovies()" style="cursor:pointer" >Videos de soporte</a>
      </div>
    </div>
  
    <!-- Columna central -->
    <div class="footer-center">
      <div class="locations">
        <div class="location colombia">
          <h3>Colombia</h3>
          <p>Carrera 27 N°37-33, Ofi. 302,</p>
          <p>Centro Empresarial Green Gold, Bucaramanga.</p>
        </div>
        <div class="location spain">
          <h3>España</h3>
          <p>Av. Ramón y Cajal 2, 29640 Fuengirola, Málaga.</p>
        </div>
      </div>
    </div>

    <!-- Columna derecha -->
    <div class="footer-right">
      <div class="social-links">
        <a target="_blank" href="https://www.instagram.com/50_plan/?igsh=MTh0dGI0M2p1cmJ3cg%3D%3D#" class="social-icon instagram"><i class="fab fa-instagram"></i></a>
        <a target="_blank"href="https://www.facebook.com/people/50-Plan/61563219681796/" class="social-icon facebook"><i class="fab fa-facebook-f"></i></a>
        <a target="_blank" href="https://es.linkedin.com/company/50-plan?trk=public_post_feed-actor-name" class="social-icon linkedin"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
</footer>
<div class="overlay" *ngIf="isMoviesVisible" (click)="hideMovies()">
  <div class="modal-wrapper" (click)="$event.stopPropagation()">
    <app-card-video-2 (closeModal)="hideMovies()"></app-card-video-2>
  </div>
</div>