<div class="modal-overlay" *ngIf="isOpen" (click)="onOverlayClick($event)">
    <div class="modal-container" (click)="$event.stopPropagation()">
        <div class="circle circle-1"></div>
        <div class="circle circle-2"></div>
        <div class="circle circle-3"></div>
        <div class="circle circle-4"></div>

    <button class="close-button" (click)="closeModal()">X</button>

      <div class="modal-content">
                <div class="modal-header">
                    <p class="title-card">PLAN DE CONTINGENCIA Y VIABILIDAD DE 50PLAN</p>
                    <p class="title-card-2">06/05/2025</p>
                </div>
              <p class="title-card-2">
                Estimados afiliados y colaboradores,
              </p>

            <div class="modal-body">
                <p>
                    Desde 50PLAN queremos comunicar con total transparencia las medidas estratégicas que estamos implementando para garantizar la sostenibilidad del sistema, la protección del capital prestado por nuestros afiliados y la continuidad del modelo de forma responsable.
                </p>
                <p>
                    En los últimos meses, hemos afrontado retos imprevistos, tanto internos como externos, que nos han llevado a realizar una reestructuración profunda de la operación. Esta etapa de reorganización responde a nuestra voluntad de mejorar procesos, reforzar estructuras, y asegurar que cada paso que demos se realice con solidez y visión de largo plazo.
                </p>

                <p class="sub-title">1. Incorporación y Capacitación de Nuevo Personal</p>
                <p>
                    Hemos iniciado un proceso de incorporación de nuevo personal en áreas clave, incluyendo atención al cliente, operaciones, control interno y tecnología.
                </p>
                <p>
                    Paralelamente, activamos un proceso de capacitación intensiva dirigido tanto al nuevo equipo como al personal existente, enfocado en estandarizar procesos operativos, optimizar flujos financieros, implementar herramientas tecnológicas y garantizar una atención profesional a los afiliados.
                </p>

                <p class="sub-title">2. Establecimiento de un Periodo de Carencia Operativa (3–4 meses)</p>
                <p>
                    Para evitar tensiones de liquidez y garantizar la viabilidad operativa, se establecerá un periodo de carencia de 3 a 4 meses, durante el cual no se realizarán pagos de rendimientos.
                </p>
                <p>
                    Durante este tiempo se finalizará la incorporación de personal, se reorganizará la estructura financiera y se implementarán controles internos que aseguren la reactivación del sistema con plena capacidad.
                </p>

                <p class="sub-title">3. Atención de Solicitudes de Retiro: Responsabilidad y Orden de Prioridades</p>
                <p>
                    Se atenderán progresivamente las solicitudes de retiro con base en las siguientes directrices:
                </p>
                <p>
                    Prioridad a afiliados que no han recibido rendimientos.
                </p>
                <p>
                    Protección del capital aportado. Ejemplo: si un afiliado prestó $1,000 y ha recibido $900, podrá retirar $100 en esta fase.
                </p>
                <p>
                    Retiros sujetos a las opciones disponibles, que se irán ampliando conforme avance la estabilización.
                </p>

                <p class="sub-title">4. Condiciones para Quienes Decidan Continuar en el Plan</p>
                <p>
                    Los afiliados que decidan continuar, se acogerán al siguiente esquema:
                </p>
                <p>
                    3 a 4 meses de carencia sin rendimientos
                </p>
                <p>
                    4 meses de rendimientos sobre el capital aportado
                </p>
                <p>
                    A partir del mes 8 o 9, se activarán los beneficios del plan de compensación, conforme a la nueva estructura operativa.
                </p>

                <p class="sub-title">5. Importancia de la Cooperación y la Responsabilidad Colectiva</p>
                <p>
                    La falta de cooperación perjudica al sistema en su conjunto, afectando no solo a la empresa, sino a todos quienes confían y han colaborado activamente en la empresa y su crecimiento.
                </p>
                <p>
                    Todas las decisiones han sido cuidadosamente evaluadas para proteger la viabilidad y estabilidad.
                </p>

                <p class="sub-title">6. Nuestro Compromiso Sigue Intacto</p>
                <p>
                    Nuestro objetivo es cumplir con nuestros afiliados, garantizar la devolución del capital aportado y reconstruir un modelo estable, viable y legalmente sólido.
                </p>
                <p>
                    Cada decisión responde a una visión estratégica pensada en el bienestar colectivo a largo plazo.
                </p>

                <p class="sub-title">7. Canales de Información y Seguimiento</p>
                <p>
                    Durante todo este proceso mantendremos activos nuestros canales oficiales, a través de los cuales se informará sobre:
                </p>
                <p>
                    Evolución del plan
                </p>
                <p>
                    Avances operativos
                </p>
                <p>
                    Fechas habilitadas para retiros y reinicio de actividades
                </p>
                <p>
                    El principal canal de comunicación oficial de la empresa es el sistema de tickets dentro de la plataforma. Todos los afiliados deben utilizar este canal para garantizar una atención adecuada y trazabilidad de cada caso.
                </p>

                <p class="sub-title">8. Estado de Usuarios en Verificación, Registro Cerrado y Nuevas Afiliaciones</p>
                <p>
                    Actualmente, existen usuarios registrados que aún no han finalizado su proceso de verificación. A todos ellos se les solicita que completen cuanto antes los requisitos de validación para que su participación quede formalizada y puedan acceder a las funcionalidades de la plataforma.
                </p>
                <p>
                    En cuanto al periodo anterior de registro, informamos que el mismo ya ha finalizado, y que los usuarios que no se registraron en ese plazo han quedado por fuera de este proceso actual de reorganización. No obstante, una vez finalice el plan de contingencia y se restablezca la actividad regular, se evaluará la posibilidad de abrir nuevas ventanas de ingreso.
                </p>
                <p>
                    Las nuevas afiliaciones están temporalmente suspendidas, con el objetivo de enfocar todos los recursos operativos en la estabilización del sistema y el cumplimiento con los afiliados actuales. Cuando la empresa esté en condiciones óptimas, se comunicará oportunamente la reapertura para nuevos miembros.
                </p>
                <p>
                    50PLAN sigue adelante con paso firme, y con un compromiso inquebrantable por la estabilidad, la transparencia y el cumplimiento.
                </p>

                <p class="sub-title">
                    Agradecemos profundamente su confianza y acompañamiento.
                </p>
                <p>
                    Atentamente,
                </p>
                <p class="sub-title">
                    Equipo de Gestión de Afiliados<br>
                    50PLAN
                </p>
                <img class="image-logo" src="/assets/image/logo.webp" alt="logo">
            </div>
            <!-- Añadido div para espacio extra al final del contenido -->
            <div style="height: 20px;"></div>
        </div>
        
    </div>
</div>