<div class="modal-overlay" *ngIf="isOpen" (click)="onOverlayClick($event)">
    <div class="modal-container" (click)="$event.stopPropagation()">
        <div class="circle circle-1"></div>
        <div class="circle circle-2"></div>
        <div class="circle circle-3"></div>
        <div class="circle circle-4"></div>
     
    <button class="close-button" (click)="closeModal()">X</button>

      <div class="modal-content">
                <div class="modal-header">
                    <p class="title-card" > COMUNICADO OFICIAL

                      </p>
                      
                </div>
              <p class="title-card-2">
                Estimados afiliadoss,
              </p>   
            
            <div class="modal-body">

                <p>

                    <p>
                        En primer lugar, agradecemos su paciencia y comprensión durante el proceso de implementación de mejoras en nuestro sistema. Somos plenamente conscientes que los últimos días han representado un reto para muchos de ustedes y reiteramos nuestro compromiso con brindarles un servicio a la altura de sus expectativas.
                    </p>
                   <p>
                        Nos complace informarles que hemos culminado satisfactoriamente la producción del material audiovisual que les permitirá acceder a una gestión más eficiente, clara y autónoma de sus cuentas dentro de 50 Plan.
                   </p>
                   <p>
                        A partir de hoy, el acceso a la plataforma se encuentra  habilitado. Cada afiliado podrá revisar su información personal desde su perfil de usuario, así como familiarizarse con las nuevas herramientas disponibles para el control y seguimiento de su cuenta.
                   </p>

                   <p>
                    Para garantizar una atención oportuna y organizada, hemos habilitado un sistema de tickets de soporte dentro de la misma plataforma. A través de este canal exclusivo, podrán registrar cualquier duda, consulta o requerimiento que deseen plantear. Nuestro equipo de atención al cliente estará gestionando cada solicitud de manera individual, priorizando la eficiencia en los tiempos de respuesta.
                </p>
                
                <p>
                    Versión Español:
                   
                    
                
                <p>
                    Versión Inglés:
                  
   
                    <p>
                        Para garantizar una atención oportuna y organizada, hemos habilitado un sistema de tickets de soporte dentro de la misma plataforma. A través de este canal exclusivo, podrán registrar cualquier duda, consulta o requerimiento que deseen plantear. Nuestro equipo de atención al cliente estará gestionando cada solicitud de manera individual, priorizando la eficiencia en los tiempos de respuesta.
                    </p>

                    <p>
                        Continuaremos informándoles sobre próximos avances y mejoras.
                        En los proximos días se hará envio de las disposiciones finales por parte de la empresa.
                    </p>

                <p class="sub-title" >
                    Agradecemos su atención y colaboración. 
                </p>
              <p  >
                Atentamente,  
              </p>
              <p class="sub-title">
                Equipo 50 Plan
              </p >
            </div>
        </div>
        <img  class="image-logo" src="/assets/image/logo.webp" alt="logo">
    </div>
</div>