@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');





/* Cuerpo*/

.parent-body-simulator-capa-1 {
    padding-top: 10px;
    font-family: "Jost", sans-serif;
    background-color: transparent;
    height: 100vh;
    grid-row: 1 / span 15;
    grid-column: 1 /span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(16, 1fr);
    place-items: center;
    position: relative; // Añadir esto
    isolation: isolate; // Añadir esto
    overflow: hidden; // Opcional, para contener la imagen
    transition: filter 0.3s ease;
    position: relative; // Aseguramos el posicionamiento
    overflow-x: hidden; // Prevenimos scroll horizontal

    
}

.parent-body-simulator-capa-1::before {
    content: '';
    position: absolute;
    inset: 0; // Simplifica top, right, bottom, left
    width: 100%;
    height: 100%;
    background-image: url('/assets/image/fondo-simulator.webp');
    background-size: cover;
    background-position: center;
    filter: brightness(0.4);
    backdrop-filter: blur(5);
    z-index: -1;
    opacity: 1;
    pointer-events: none;
}

.block-1 {
    grid-column: 2 / span 10;
    grid-row: 4 / span 4;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(16, 1fr);
    justify-items: center;
    background: linear-gradient(
        145deg,
        rgba(27, 27, 27, 0.61),
        transparent
    );
    border-radius: 30px;
    backdrop-filter: blur(10px);
}

[class^="block-1-box-"] {
    text-align: center;
    width: 100%;
    height: 20vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all 0.3s ease;
    position: relative;
    
   
}

/* Estilos específicos para cada box */
.block-1-box-1 {

    grid-column: 1 / span 4;
    grid-row: 6 / span 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    place-items: center;
}


.icon-1 {
    margin-top: 10px;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    background-image: url('/assets/image/inversor-1.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;

}
.icon-2 {
    margin-top: 10px;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    background-image: url('/assets/image/promotor-1.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
}
.icon-3 {
    margin-top: 10px;
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    background-image: url('/assets/image/lider-1.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
}


.icon-1.active  {
    margin-top: 10px;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    background-image: url('/assets/image/inversor-2.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
}
.icon-2.active  {
    margin-top: 10px;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    background-image: url('/assets/image/promotor-2.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
}
.icon-3.active  {
    margin-top: 10px;
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    background-image: url('/assets/image/lider-2.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
}

.icon-1:hover  {
    margin-top: 10px;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    background-image: url('/assets/image/inversor-2.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
}
.icon-2:hover  {
    margin-top: 10px;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    background-image: url('/assets/image/promotor-2.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
}
.icon-3:hover  {
    margin-top: 10px;
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    background-image: url('/assets/image/lider-2.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
}





.text-invent {
    margin-top: 10px;
    grid-column: 1/ span 4;
    grid-row: 3 / span 1;
    color: white;
    font-size: 3em;
}

.block-1-box-2 {

    grid-column: 5 / span 4;
    grid-row: 6 / span 4;
    border-left: 2px solid rgb(82, 82, 82);
    place-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.box-2-title{
    margin-top: 10px;
    grid-column: 1/ span 4;
    grid-row: 2 / span 1;
    color: white;
    font-size: 1.8em;
}

.box-2-number {
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05));
    backdrop-filter: blur(10px);
    color: white;
    padding: 15px;
    border-radius: 25px;
    width: 220px;
    grid-column: 1/ span 4;
    grid-row: 4 / span 1;
    position: relative;
    box-shadow: 
        0 4px 15px rgba(0, 0, 0, 0.1),
        inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 
            0 8px 20px rgba(0, 0, 0, 0.15),
            inset 0 0 0 1px rgba(255, 255, 255, 0.2);
    }

    .input-container {
        position: relative;
        width: 100%;
        
        .amount {
            font-size: 2.4em;
            color: white; // Cambiado de transparent a white
            font-family: 'Inter', sans-serif;
            background: transparent;
            border: none;
            width: 100%;
            text-align: center;
            padding: 0.2rem;
            outline: none;
            font-weight: 700;
            line-height: 1.2;
            caret-color: #00ffff;
            transition: all 0.3s ease;
            
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            
            &[type=number] {
                -moz-appearance: textfield;
            }
        }
    }

    &::before {
        content: '$';
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        color: rgba(255, 255, 255, 0.6);
        font-size: 1.5em;
        font-weight: 500;
    }
}
.amount {
    color: white;
    font-size: 1.2em;
}

.block-1-box-3 {
    grid-column: 9 / span 3;
    grid-row: 6 / span 4;
    border-left: 2px solid rgb(82, 82, 82);
    
    /* Agregar estas propiedades para centrar */
    display: grid;
    place-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-3-card {
    height: 240px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
    position: relative;
    
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: inherit;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    &.alfa {
        background-image: url('/assets/image/alfa-b.webp');
        animation: cardChange 0.3s ease-in-out;
    }

    &.beta {
        background-image: url('/assets/image/beta-b.webp');
        animation: cardChange 0.3s ease-in-out;
    }

    &.gamma {
        background-image: url('/assets/image/gamma-b.webp');
        animation: cardChange 0.3s ease-in-out;
    }

    &.delta {
        background-image: url('/assets/image/delta-b.webp');
        animation: cardChange 0.3s ease-in-out;
    }
}

@keyframes cardChange {
    0% {
        transform: scale(0.95);
        opacity: 0.7;
    }
    50% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.block-1-box-4 {
    grid-column: 12 / span 4;
    grid-row: 6 / span 4;
    border-left: 2px solid rgb(82, 82, 82);
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: left;
    gap: 10px;
    padding-left: 20px;
}

.block-1-box-4-text-1
{
    margin-top: 15px;
    font-size: 2em;
    width: 100%;
    height: 20px;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    color: white;
}
.block-1-box-4-text-2
{
    margin-top: 15px;;
    font-size: 2em;
    width: 100%;
    height: 20px;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    color: white;
}
.block-1-box-4-text-3 {
    margin-top: 15px;
    font-size: 2em;
    width: 100%;
    height: 20px;
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    color: white;
}

.amount-percentaje-1
{
    margin-top: 15px;
    font-size: 2em;
    width: 40px;
    height: 20px;
    grid-column:2/ span 1;
    grid-row: 1 / span 1;
    color: rgb(0, 209, 236);
}
.amount-percentaje-2
{
    margin-top: 15px;;
    font-size: 2em;
    width: 40px;
    height: 20px;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    color: rgb(0, 209, 236);
}
.amount-percentaje-3 {
    margin-top: 15px;
    font-size: 2em;
    width: 40px;
    height: 20px;
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    color: rgb(0, 209, 236);
}






.block-2 {
    grid-column: 2 / span 10;
    grid-row: 9 / span 4;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(18, 1fr);
    justify-items: center;
    background: linear-gradient(
        145deg,
        rgba(27, 27, 27, 0.61),
        transparent
    );
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

[class^="block-2-box-"] {
    text-align: center;
    width: 100%;
    height: 20vh;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all 0.3s ease;
}

/* Estilos específicos para cada box */
.block-2-box-1 {

    grid-column: 1 / span 5;
    grid-row: 6 / span 4;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, 
            rgba(0, 25, 31, 0.096) 0%,
            rgba(0, 0, 0, 0) 30%
        );
        pointer-events: none;
    }
    
}

.block-2-box-1-title{

    margin-top: 30px;
    height: 40px;
    width: 80%;
    grid-column: 1/ span 12;
    grid-row: 1 /span 1  ;
    color: rgb(0, 217, 255);
    font-size: 1.6em;
    text-align: center;
}

.block-2-box-1-amount{
    margin-left: 16px;
    margin-top: 10px;
    height: 40px;
    width: 100%;
    grid-column: 3/ span 5;
    grid-row: 2 /span 1  ;
    font-weight: 500;
    color: rgb(0, 217, 255);
    text-align: left;
    font-size: 4em;
}


.block-2-box-2 {
   
    grid-column: 6 / span 3;
    grid-row: 6 / span 4;
    border-left: 2px solid rgb(82, 82, 82);
    width: 100%;
    height: 100%;

    place-items: center;
    text-align: center;
}

.block-2-box-2-title{
    place-items: center;
    margin-top: 30px;
    height: 40px;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 1.8em;
    text-align: center;
}

.block-2-box-2-amount{
    margin-top: 10px;
    height: 40px;
    width: 100%;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 4em;
}

.block-2-box-3 {
    grid-column: 9 / span 3;
    grid-row: 6 / span 4;
    border-left: 2px solid rgb(82, 82, 82);;
}

.block-2-box-3-title{

    margin-top: 30px;
    height: 40px;
    width: 100%;
    grid-column: 1/ span 5;
    grid-row: 1 /span 1  ;
    color: rgb(255, 255, 255);
    font-size: 1.8em;
    text-align: center;
}

.block-2-box-3-amount{
    margin-top: 10px;
    height: 40px;
    width: 100%;
    grid-column: 1/ span 5;
    grid-row: 2 /span 1  ;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 4em;
}

.block-2-box-4 {

    grid-column: 12 / span 4;
    grid-row: 6 / span 4;
    border-left: 2px solid rgb(82, 82, 82);
}


.block-2-box-4-title{

    margin-top: 30px;
    height: 40px;
    width: 100%;
    grid-column: 1/ span 5;
    grid-row: 1 /span 1  ;
    color: rgb(255, 255, 255);
    font-size: 1.8em;
    text-align: center;
}

.block-2-box-4-amount{
    margin-top: 10px;
    height: 40px;
    width: 100%;
    grid-column: 1/ span 5;
    grid-row: 2 /span 1  ;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 4em;
}

.button-simulation {
     height: auto;
     background-color: transparent ;
     grid-column: 1 /span 15;
     grid-row: 14 / span 1;
     border: 2px solid aqua;
     border-radius: 20px ;
     width: 400px;
}

.button-text {
    padding: 0;
    margin: 10px;
    text-align: center;
    color: white;
    font-size: 1.1em;
}

.button-simulation:hover {
    background: linear-gradient(to top, 
    rgba(0, 217, 255, 0.856) 0%, 
    rgba(0, 217, 255, 0.521) 14%,
    rgba(0, 29, 34, 0.521) 80%,
    rgba(26, 26, 26, 0.205) 100%
);
    color: black ;
}



.whatsapp-float {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1000;
    transition: all 0.3s ease;
}

.whatsapp-float:hover {
    transform: scale(1.1);
}

.whatsapp-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.exclamation-mark {
    grid-column: 11 / span 2;
    grid-row: 13 / span 2;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid rgb(0, 225, 255);
    background-color: transparent;
    display: grid;
    place-items: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1000;
    font-size: 2.9em;
    margin-top: 44px;
    padding-top: 0px;
    color: white;
}
.text-i {
    margin-top: 0px;
    padding-top: 0px;
    font-size: 1.2em;

}

.exclamation-mark:hover {
    grid-column: 11 / span 2;
    grid-row: 13 / span 2;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid rgb(0, 225, 255);
    background-color: rgb(32, 32, 32);
    display: grid;
    place-items: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1000;
    font-size: 2.9em;
    margin-top: 44px;
    padding-top: 0px;
    color: white;
}

.blur-background {
  filter: blur(70px);
  transition: filter 0.3s ease;
}

.card-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; // Asegura que esté por encima del contenido desenfocado
  
  .card-wrapper {
    filter: none !important; // Evita que se aplique el desenfoque
    position: relative;
    z-index: 1001; // Un nivel más alto que el overlay
  }
}

.card-wrapper {
  position: relative;
}

app-card, app-card-2 {
  position: absolute;
  width: 100%;
  transition: opacity 0.3s ease-in-out;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}




@media (max-width: 1320px) {
    .parent-body-simulator-capa-1 {
background-color: red;

      height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      gap: 15px;
      overflow-y: auto;
      overflow-x: hidden;
    }
  
    .block-1 {
      width: 95%;
      height: auto;
      min-height: 300px;
      margin: 10px auto;
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 15px;
      background-color: rgb(117, 133, 113);
      border-radius: 15px;
      backdrop-filter: blur(10px);
      border: 1px solid rgba(0, 217, 255, 0.2);
      display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(16, 1fr);
        height: 100VH;
    }
    .icon-1{
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }
    .icon-2{
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }
    .icon-3{
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
    }
    .block-1-box-1 {

        grid-column: 1 / span 3;
        grid-row: 6 / span 4;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        place-items: center;
    }

}