<div class="parent-body-simulator-capa-1" >
    <div class="block-1" >
        <div class="block-1-box-1" >   
                <div class="icon-1" ></div>
                <div class="icon-2" ></div>
                <div class="icon-3" ></div>
            <div class="text-invent" >
                Inversionista
            </div>
        </div>
        <div class="block-1-box-2" >
            <div class="box-2-title" >
                $ Inversión (USD):
            </div>
            <div class="box-2-number" >
                <p class="amount" > 100 .00</p>
            </div> 
        </div>
        <div class="block-1-box-3" >
            <div class="box-3-card" ></div>
        </div>
        <div class="block-1-box-4" >
                <div class="block-1-box-4-text-1" > Semanal: </div>
                <div class="amount-percentaje-1" > 0.625% </div>
                <div class="block-1-box-4-text-2" > Mensual: </div>
                <div class="amount-percentaje-2" > 2.5% </div>
                <div class="block-1-box-4-text-3" > Anual: </div>
                <div class="amount-percentaje-3" > 30% </div>
        </div>
    </div>
    <div class="block-2" >
        <div class="block-2-box-1" >
            <div class="block-2-box-1-title" >Capital + rendimiento anual:</div>
            <div class="block-2-box-1-amount" > $130.00</div>
        </div>
        <div class="block-2-box-2" > 
            <div class="block-2-box-2-title" >Semanal</div>
            <div class="block-2-box-2-amount" >$0.63</div>
        </div>
        <div class="block-2-box-3" >
            <div class="block-2-box-3-title" >Mensual</div>
            <div class="block-2-box-3-amount" >$2.50</div>
        </div>
        <div class="block-2-box-4" >
            <div class="block-2-box-4-title" >Anual</div>
            <div class="block-2-box-4-amount" >$30.00</div>
        </div>
    </div>
    <div class="button-simulation">
        <p class="button-text" >volver a simular</p>
    </div>
</div>