.description{
  font-size: 1.2rem;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.2);
  letter-spacing: 0.5px;
  font-family: "Jost", sans-serif;
}


.licenses-modal {

  
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr auto;
    background: linear-gradient(145deg, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.85));
    backdrop-filter: blur(10px);
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(0, 255, 255, 0.3);
    width: 80vw;
    max-width: 1100px;
    color: white;
    z-index: 1000;
    border-radius: 20px;
    margin-top: 40px;
    animation: modalEnter 0.3s ease-out;
    box-shadow: 
        0 0 15px rgba(0, 255, 255, 0.2),
        0 0 30px rgba(0, 255, 255, 0.1);
    
    &.closing {
      color: #00bdbd;
      animation: modalExit 0.3s ease-out forwards;
    }
  
    .modal-header {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;

        background-color: rgba(0, 0, 0, 0);
        position: relative;
    
        // Quitamos el box-shadow general para evitar interferencia con el brillo
        
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;
          background: #00a3a3;
          box-shadow: 
            0 5px 10px -2px rgba(1, 123, 156, 0.6),
            0 8px 15px -3px rgba(43, 181, 219, 0.4),
            0 12px 20px -4px rgba(43, 181, 219, 0.2);
          clip-path: inset(0 -15px -20px -15px);
          animation: borderGlow 3s ease-in-out infinite;
        }
        
        @keyframes borderGlow {
          0% {
            box-shadow: 
              0 5px 10px -2px rgba(43, 181, 219, 0.4),
              0 8px 15px -3px rgba(43, 181, 219, 0.3),
              0 12px 20px -4px rgba(43, 181, 219, 0.1);
          }
          50% {
            box-shadow: 
              0 5px 15px -2px rgba(43, 181, 219, 0.7),
              0 10px 20px -3px rgba(43, 181, 219, 0.5),
              0 15px 25px -4px rgba(43, 181, 219, 0.3);
          }
          100% {
            box-shadow: 
              0 5px 10px -2px rgba(43, 181, 219, 0.4),
              0 8px 15px -3px rgba(43, 181, 219, 0.3),
              0 12px 20px -4px rgba(43, 181, 219, 0.1);
          }
        }
      
        h2 {
          font-family: "Jost", sans-serif;
          margin: 30px;
        }
      
        .close-button {
          background: none;
          border: none;
          color: #00ffff;
          font-size: 1.5rem;
          cursor: pointer;
          transition: all 0.3s ease;
          padding: 30px;
          border-radius: 50%;
          
          &:hover {
            background: rgba(0, 0, 0, 0);
            transform: rotate(90deg);
          }
          
          &:active {
            transform: rotate(90deg) scale(0.9);
          }
        }
      }
     
    .modal-content {
      grid-column: 1 / 14;
      display: grid;
      gap: 2rem;
      padding: 2rem;
  
      .description {
        text-align: center;
        color: white;
        font-family: "Jost", sans-serif;
      }
  
      .cards-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        
        .license-card {
          background: rgba(255, 255, 255, 0.05);
          backdrop-filter: blur(5px);
          border: 1px solid rgba(0, 255, 255, 0.1);
          border-radius: 15px;
          padding: 1rem;
          transition: all 0.3s ease;
  
          &:hover {
            transform: translateY(-5px);
            box-shadow: 
                0 10px 20px rgba(0, 0, 0, 0.2),
                0 0 15px rgba(0, 255, 255, 0.2);
            border-color: rgba(0, 255, 255, 0.3);
  
            .card-image {
              transform: scale(1.05);
              box-shadow: 0 10px 20px rgba(0, 255, 255, 0.1);
            }
          }
  
          .card-image {
            width: 100%;
            height: auto;
            transition: transform 0.3s ease;
          }
  
          .investment-range-1  {
            background: linear-gradient(to top, rgb(22, 93, 114), rgb(15, 26, 31));
            padding: 4px;
       
            border-radius: 5px;
            font-size: 0.4rem;
            text-align: center;
            color: white;
            font-family: "Jost", sans-serif;
            border-radius: 20px;
            margin: 12px;
            .investment-range-title,
            .investment-range-text {
              font-size: 0.8rem;
            margin-top: 4px;
              display: block;
            }
            backdrop-filter: blur(5px);
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.1);
            transition: all 0.3s ease;
  
            &:hover {
              transform: translateY(-2px);
              box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
            }
          }
          .investment-range-2  {
            background: linear-gradient(to top, rgb(117, 117, 117), rgb(58, 58, 58));
            padding: 4px;
       
            border-radius: 5px;
            font-size: 0.4rem;
            text-align: center;
            color: white;
            font-family: "Jost", sans-serif;
            border-radius: 20px;
            margin: 12px;
            .investment-range-title,
            .investment-range-text {
                font-size: 0.8rem;
            margin-top: 4px;
              display: block;
            }
            backdrop-filter: blur(5px);
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.1);
            transition: all 0.3s ease;
  
            &:hover {
              transform: translateY(-2px);
              box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
            }
          }
          .investment-range-3  {
            background: linear-gradient(to top, rgb(184, 140, 59), rgb(78, 53, 14));
            padding: 4px;
       
            border-radius: 5px;
            font-size: 0.4rem;
            text-align: center;
            color: white;
            font-family: "Jost", sans-serif;
            border-radius: 20px;
            margin: 12px;
            .investment-range-title,
            .investment-range-text {
              font-size: 0.8rem;
            margin-top: 4px;
              display: block;
            }
            backdrop-filter: blur(5px);
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.1);
            transition: all 0.3s ease;
  
            &:hover {
              transform: translateY(-2px);
              box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
            }
          }
          .investment-range-4  {
            background: linear-gradient(to top, rgb(20, 20, 20), rgb(39, 39, 39));
            padding: 4px;
       
            border-radius: 5px;
            font-size: 0.4rem;
            text-align: center;
            color: white;
            font-family: "Jost", sans-serif;
            border-radius: 20px;
            margin: 12px;
            .investment-range-title,
            .investment-range-text {
              font-size: 0.8rem;
            margin-top: 4px;
              display: block;
            }
            backdrop-filter: blur(5px);
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.1);
            transition: all 0.3s ease;
  
            &:hover {
              transform: translateY(-2px);
              box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
            }
          }
  
          .returns {
            display: grid;
            gap: 0.5rem;
  
            .return-row {
              display: flex;
              justify-content: space-between;
              color: #929292;
              font-family: "Jost", sans-serif;
  
              .highlight {
                color: #00ffff;
              }
            }
          }
        }
      }
  
      .simulator-cta {
        text-align: center;
        color: rgb(83, 83, 83);
        font-family: "Jost", sans-serif;
      }
  
      .modal-footer {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        
        button {
          padding: 0.5rem 2rem;
          border-radius: 20px;
          font-family: "Jost", sans-serif;
          cursor: pointer;
          transition: all 0.3s ease;
          position: relative;
          overflow: hidden;
          
          &.btn-previous,
          &.btn-ok {
            background: rgba(0, 255, 255, 0.1);
            border: 1px solid rgba(0, 255, 255, 0.3);
            padding: 0.8rem 2.5rem;
            font-weight: 500;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(
                    45deg,
                    rgba(255, 255, 255, 0.1),
                    rgba(255, 255, 255, 0)
                );
                transform: translateX(-100%);
                transition: transform 0.6s ease;
            }
            
            &:hover::before {
                transform: translateX(100%);
            }
            
            &:active {
                transform: scale(0.98);
            }
          }
          
          &.btn-previous {
            background: transparent;
            border: 1px solid #00ffff;
            color: #929292;
            
            &:hover {
              color: white;
              background: url('/assets/image/hover.svg') center/220% no-repeat;
            }
          }
          
          &.btn-ok {
            background: rgba(0, 255, 255, 0.8);
            color: rgba(0, 0, 0, 0.8);
            
            &:hover {
              background: rgba(0, 255, 255, 1);
              color: rgba(0, 0, 0, 1);
            }
          }
        }
      }
    }
  }

@keyframes modalEnter {
    from {
        opacity: 0;
        transform: translate(-50%, -45%) scale(0.95);
    
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
        filter: blur(0);
    }
}

@keyframes modalExit {
    from {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    to {
        opacity: 0;
        transform: translate(-50%, -48%) scale(0.96);
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    z-index: 999;
    animation: overlayFade 0.3s ease-out;
    
    &.closing {
        animation: overlayFadeOut 0.3s ease-out forwards;
    }
}

@keyframes overlayFade {
    from {
        opacity: 0;
        backdrop-filter: blur(0);
    }
    to {
        opacity: 1;
        backdrop-filter: blur(8px);
    }
}

@keyframes overlayFadeOut {
    from {
        opacity: 1;
        backdrop-filter: blur(8px);
    }
    to {
        opacity: 0;
        backdrop-filter: blur(0);
    }
}

