.parent-body-simulator {
    width: 100%;
    grid-row: 2 / span 15;
    grid-column: 1 /span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(16, 1fr);
    place-items: center;
    position: relative; // Añadir esto
    z-index: 1; // Cambiar a positivo
}

.parent-body-simulator::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/image/fondo-simulator.webp');
    background-size: cover;
    background-position: center;
    filter: brightness(0.7);
    z-index: -1; // Cambiar a -1
    opacity: 1;
    pointer-events: none; // Añadir esto
}
 
.text-simulator-1 {
    text-align: center;
    margin-inline: 25px;
    font-size: 4.2em;
    font-family: "Jost", sans-serif; 
    grid-column: 1 /span 12;
    grid-row: 5 / span 3;    
    color: white;
    display: none;
}

.text-simulator-2 {
    margin-top: 25px;
    text-align: center;
    margin-inline: 25px;
    font-size: 4.2em;
    font-family: "Jost", sans-serif; 
    grid-column: 1 /span 12;
    grid-row: 7 / span 3;    
    color: white;
    display: none;
}

.text-simulator-3 {
    text-align: center;
    margin-inline: 25px;
    font-size: 3.8em;
    font-family: "Jost", sans-serif; 
    grid-column: 1 /span 12;
    grid-row: 3 / span 3;    
    color: white;
}


.parent-body-simulator-boxes {
    grid-row: 5 / span 4;
    grid-column: 1 /span 12 ;
    width: 50vw;
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 2fr);
    place-items: center;
    justify-items: center
}

.body-simulator-box-1,
.body-simulator-box-2,
.body-simulator-box-3 {
    background-size: 50%;
    background-position: center;    
    background-repeat: no-repeat; 
    height: 80%;
    width: 100%;
    aspect-ratio: 1 / 1;
}

/* Estilos específicos para cada box */
.body-simulator-box-1 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    background-image: url('/assets/image/inversor-1.webp');
}

.body-simulator-box-2 {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    background-image: url('/assets/image/promotor-1.webp');
}

.body-simulator-box-3 {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
    background-image: url('/assets/image/lider-1.webp');
}

/* Ocultar box-generic por defecto */
.box-generic,
.box-generic-title,
.box-generic-text,
.bar-1 {
    display: none;
}
.body-simulator-box-1:hover {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    background-image: url('/assets/image/inversor-2.webp');
}

.body-simulator-box-2:hover {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    background-image: url('/assets/image/promotor-2.webp');
}

.body-simulator-box-3:hover {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
    background-image: url('/assets/image/lider-2.webp');
}


/* Mostrar box-generic en hover para cualquiera de los boxes */
.body-simulator-box-1:hover ~ .box-generic-1,
.body-simulator-box-2:hover ~ .box-generic-2,
.body-simulator-box-3:hover ~ .box-generic-3 {
    display: grid;
    margin-top: 0;
    grid-row: 2 / span 2;
    grid-column: 1 / span 3;
    border-radius: 40px;
    height: 28vh;
    width: 40vw;
    text-align: center;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(16, 1fr);
    background: linear-gradient(to bottom, 
        rgba(0, 217, 255, 0.856) 0%, 
        rgba(0, 217, 255, 0.521) 14%,
        rgba(0, 29, 34, 0.521) 50%,
        rgba(26, 26, 26, 0.205) 100%
    );
}

/* Mostrar elementos internos cuando cualquier box tiene hover */
.body-simulator-box-1:hover ~ .box-generic-1 .box-generic-title,
.body-simulator-box-2:hover ~ .box-generic-2 .box-generic-title,
.body-simulator-box-3:hover ~ .box-generic-3 .box-generic-title {
    display: block;
    margin-top: 2px;
    grid-column: 2/ span 2;
    grid-row: 3 / span 4;
    color: white;
    font-size: 2em; 
    position: relative;
    z-index: 2;
    margin-left: 40px;
}

.body-simulator-box-1:hover ~ .box-generic-1 .box-generic-text,
.body-simulator-box-2:hover ~ .box-generic-2 .box-generic-text,
.body-simulator-box-3:hover ~ .box-generic-3 .box-generic-text {
    display: block;
    margin-left: 40px;
    margin-top: 6px;
    text-align: left;
    grid-column: 2/ span 10;
    grid-row: 7 / span 4;
    font-size: 1.4em;
    color: white;
    font-weight: 300;
}

.body-simulator-box-1:hover ~ .box-generic-1 .bar-1,
.body-simulator-box-2:hover ~ .box-generic-2 .bar-1,
.body-simulator-box-3:hover ~ .box-generic-3 .bar-1 {
    display: block;
    grid-column: 1/ span 6;
    grid-row: 3 / span 2;
    background-color: #00d9ff;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    position: relative;
    z-index: 1;
    height: 50px;
}

@media (max-width: 768px) {
    .parent-body-simulator {
        display: none; // Ocultar todo el contenedor principal
    }

    .text-simulator-3 {
        font-size: 2em;
    }

    app-carousel-simulator {
        display: block; // Asegúrate de que el carrusel esté visible
        width: 100%; // Ajusta el tamaño según sea necesario
        height: auto; // Mantén la proporción
    }
}