// Keyframes
@keyframes modalEnter {
    from {
        opacity: 0;
        transform: scale(0.95) translateY(-20px);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@keyframes contentFade {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.orbit-modal {
    background-color: rgba(0, 0, 0, 0.13);
    backdrop-filter: blur(40px);
    border-radius: 12px;
    color: white;
    width: 1000px;
    height: 680px;
    margin: 160px auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    border: 1px solid #00f5ff;
    gap: 20px;

}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 0;
    border-bottom: 1px solid #00f5ff;
    text-align: center;
    height: 90px;
    
    h2 {
        text-align: center;
        font-size: 24px;
        font-weight: normal;
        margin-left: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
   
        
        &:hover {
            transform: translateY(-2px);
            color: #00f5ff;
        }
    }
}

.modal-content {
    overflow-y: auto;
    text-align: center;
    padding: 20px;
    margin-inline: 20px;
 

}

.table-header {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 50px;
    color: #808080;
    padding: 20px;


}

.table-row {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 50px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    align-items: center;
    place-items: center;

    margin-bottom: 8px;
    
    &:hover {

        background-color: rgba(255, 255, 255, 0.08);
        box-shadow: 0 2px 8px rgba(0, 240, 255, 0.1);
    }
}

.input-field {
    background: transparent;
    border: none;
    color: white;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    text-align: center;

    &:focus {
        outline: none;
        border-bottom: 1px solid #00f5ff;
        transform: translateY(-2px);
    }
    
    &[type="number"] {
        text-align: center;
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    
    }
     &::placeholder {
        color: rgb(80, 80, 80);
        transition: color 0.3s ease;
    }
    &:focus::placeholder {
        color: rgba(0, 245, 255, 0.5);
    }
}

.add-btn {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: white;
    padding: 15px;
    margin: 15px 0;
    cursor: pointer;
    border-radius: 8px;

    margin-inline: 100px;
    &:hover {
        background-color: rgba(255, 255, 255, 0.15);
        transform: translateY(-2px);
        box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
    }
}

.info-text {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    animation: contentFade 0.3s ease forwards;
    animation-delay: 0.4s;
    opacity: 0;
}

.modal-footer {
    display: flex;
    padding: 20px 0;
    animation-delay: 0.5s;
    flex-direction: column;  // Nuevo: organiza los elementos en columna
    align-items: center; 
}
.error-message {
    color: #00f5ff;
    background-color: #00000000;
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0;
    text-align: center;
    font-size: 16px;
}

.apply-btn {
    background-color: transparent;
    border: 1px solid #00f5ff;
    color: #00f5ff;
    padding: 8px 24px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    margin: 30px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    align-self: flex-end;
    
    &:hover {
        background-color: rgba(0, 245, 255, 0.1);
        transform: translateY(-2px);
        box-shadow: 0 4px 15px rgba(0, 245, 255, 0.2);
    }
}

.close-btn {
    background: none;
    border: none;
    color: #808080;
    font-size: 40px;
    cursor: pointer;
    margin: 30px;
    transition: all 0.3s ease;
    &:hover {
        color: #00f5ff;
        transform: rotate(90deg);
    }
}

.delete-btn {
    background: none;
    border: none;
    color: #808080;
    cursor: pointer;
    font-size: 16px;
    opacity: 0.7;
    transition: all 0.3s ease;
    &:hover {
        color: #00f5ff;
        opacity: 1;
        transform: rotate(90deg);
    }
}


@media (max-width: 1230px) {
    // Keyframes
@keyframes modalEnter {
    from {
        opacity: 0;
        transform: scale(0.95) translateY(-20px);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@keyframes contentFade {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.orbit-modal {
    background-color: rgba(0, 0, 0, 0.13);
    backdrop-filter: blur(40px);
    border-radius: 12px;
    color: white;
    width: 90%;
    height: 620px;
    margin: 160px auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    border: 1px solid #00f5ff;
    gap: 20px;

}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 0;
    border-bottom: 1px solid #00f5ff;
    text-align: center;
    height: 40px;
    
    h2 {
        text-align: center;
        font-size: 14px;
        font-weight: normal;
        margin-left: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
   
        
        &:hover {
            transform: translateY(-2px);
            color: #00f5ff;
        }
    }
}

.modal-content {
    overflow-y: auto;
    text-align: center;
    padding: 0px;
    margin-inline: 0px;
 
}

.table-header {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 50px;
    color: #808080;
    padding: 20px;


}

.table-row {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 50px;

    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    align-items: center;
    place-items: center;

    margin-bottom: 8px;
    
    &:hover {

        background-color: rgba(255, 255, 255, 0.08);
        box-shadow: 0 2px 8px rgba(0, 240, 255, 0.1);
    }
}

.input-field {
    background: transparent;
    border: none;
    color: white;
    width: 100%;
    padding: 5px;
    font-size: 14px;
    text-align: center;

    &:focus {
        outline: none;
        border-bottom: 1px solid #00f5ff;
        transform: translateY(-2px);
    }
    
    &[type="number"] {
        text-align: center;
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
 
    }
     &::placeholder {
        color: rgb(80, 80, 80);
        transition: color 0.3s ease;
    }
    &:focus::placeholder {
        color: rgba(0, 245, 255, 0.5);
    }
}

.add-btn {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: white;
    padding: 15px;
    margin: 15px 0;
    cursor: pointer;
    border-radius: 8px;

    margin-inline: 100px;
    &:hover {
        background-color: rgba(255, 255, 255, 0.15);
        transform: translateY(-2px);
        box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
    }
}

.info-text {
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    animation: contentFade 0.3s ease forwards;
    animation-delay: 0.4s;
    opacity: 0;
    margin-inline: 18px;
}

.modal-footer {
    display: flex;
    animation-delay: 0.5s;
    flex-direction: column;  // Nuevo: organiza los elementos en columna
    align-items: center; 
}
.error-message {
    color: #00f5ff;
    background-color: #00000000;
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0;
    text-align: center;
    font-size: 12px;
}

.apply-btn {
    background-color: transparent;
    border: 1px solid #00f5ff;
    color: #00f5ff;
    padding: 8px 24px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 15px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    align-self: flex-end;
    
    &:hover {
        background-color: rgba(0, 245, 255, 0.1);
        transform: translateY(-2px);
        box-shadow: 0 4px 15px rgba(0, 245, 255, 0.2);
    }
}

.close-btn {
    background: none;
    border: none;
    color: #808080;
    font-size: 40px;
    cursor: pointer;
    margin: 30px;
    transition: all 0.3s ease;
    &:hover {
        color: #00f5ff;
        transform: rotate(90deg);
    }
}

.delete-btn {
    background: none;
    border: none;
    color: #808080;
    cursor: pointer;
    font-size: 16px;
    opacity: 0.7;
    transition: all 0.3s ease;
    &:hover {
        color: #00f5ff;
        opacity: 1;
        transform: rotate(90deg);
    }
}

}