
@media (max-width: 768px) {
    .parent-mobile {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('/assets/image/fondo.webp');
        position: relative; // Importante para elementos absolutos
        overflow-x: hidden; // Previene scroll horizontal
    }
    
    .circle-body-1 {
        position: absolute;
        top: -0%; // Ajusta esto según necesites el solapamiento
        left: 0%;
        width:1050px;
        height: 600px;
        background-image: url('/assets/image/bloque1.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 2; // Mayor que circle-body-1 para que aparezca encima
        object-fit: contain
    }
    
    .parent-body-1 {

        height: 44vh;
    
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(16, 1fr);
        margin: 40px;
        margin-top: 240px;
    
    }
    
    
    
    /* Texto de cuerpo */
    
    .body-text-element-1 {
        grid-column: 1 / span 12;
        grid-row: 8 / span 1;
        font-family: "Jost", sans-serif;
        font-weight: 300;
        color: white;
        font-size: 2.4em;
        position: relative;
        z-index: 10;
       
    }
    
    .body-text-element-2 {
        grid-column: 1/ span 12;
        grid-row: 9 / span 1;
        font-family: "Jost", sans-serif;
        font-weight: 600;
        color: white;
        font-size: 3.4em;
        position: relative;
        z-index: 10;
        margin-top: 10px;
    }
    .body-text-element-3 {
        grid-column: 1 / span 12;
        grid-row: 10 / span 1;
        font-family: "Jost", sans-serif;
        font-weight: 300;
        color: white;
        font-size: 2.4em;
        position: relative;
        z-index: 10;
        margin-top: 10px;
    }
    
    .body-button-1  {
        grid-column: 2 / span 10;
        grid-row: 13 / span 1;
        font-family: "Jost", sans-serif;
        font-weight: 600;
        color: white;
        font-size: 1em;
        text-align: center;
        border: 2px solid rgb(0, 204, 255);
        border-radius: 40px ;
        height: 50px;
        position: relative;
        z-index: 10;
        margin-top: 40px;
        padding-top: 10px;
    }
    .body-button-2 {
        padding-top: 9px;
        grid-column: 2 / span 10;
        grid-row: 16 / span 1;
        font-family: "Jost", sans-serif;
        font-weight:600;
        height: 52px;
        color: white;
        font-size: 1.2em;
        text-align: center;
        border: 2px solid rgb(0, 204, 255);
        border-radius: 40px ;
        position: relative;
        z-index: 10;
        margin-top: 40px;
    }
       
    .body-button-1:hover  {
        background: linear-gradient(to bottom, #002527 60%, #00d8ff);
        border: 3px solid #88edff ;
        
    }
    
    .body-button-2:hover {
        background: linear-gradient(to bottom, #002527 60%, #00d8ff);
        border: 3px solid #88edff ;
    }
    
    .element-button {
        padding: 0px;
        padding-top: 6px;
        margin: 0px;
        margin-top: 2px;
    }
    
    .parent-body-2,
    .parent-body-3,
    .parent-body-4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .body-3-sub-title,
    .body-4-sub-title,
    .body-3-sub-title {
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
        color: white;          // Si necesitas color específico
        font-weight: 500;      // Si necesitas peso específico
        width: 100%;          // Asegura que tome todo el ancho disponible
    }

    // Si necesitas que los carousels también estén centrados
    app-carousel-strategy,
    app-carousel-cards,
    app-carousel-customers {
        height: 40%;
        width: 100%;
        display: block;
        margin: 0 0;
        padding: 0 0;
    }

.parent-body-7 {
     display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 400px;
}
.footer-mobile {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    background-image: url('/assets/image/Footer.svg');
    background-color: #ff006a;
}

} 
