
<div id="logo" class="parent-mobile">
    <div class="circle-body-1" ></div>
    <div  class="parent-body-1" >
        <div class="body-text-element-1" >
           Haz que tu 
        </div>
        <div class="body-text-element-2" >
            DINERO TRABAJE
        </div>
        <div class="body-text-element-3" >
            para ti a partir de hoy mismo
        </div>
        <div class="body-button-1" (click)="showWallets()" style="cursor: pointer" >
            <p class="element-button" >Listado de Wallets</p>
        </div>
   
</div>

    <div id="nosotros" class="parent-body-2" >
       <app-carousel-nosotros></app-carousel-nosotros>
    </div>

    <div id="estrategia"  class="parent-body-3" >
       
            <app-carousel-strategy></app-carousel-strategy>
    </div>
        <!-- Tus secciones existentes -->
     <div id="licencias" class="parent-body-4">
       
            <app-carousel-cards></app-carousel-cards>
     </div>
    <div id="clientes" class="parent-body-5" >
        <app-carousel-video></app-carousel-video>
    </div>
    <div class="parent-body-6" >
        <app-carousel-customers></app-carousel-customers>
       
    </div>
    <div class="parent-body-7" >
        <div class="footer-mobile" ></div>
    </div>

</div>
<div class="modal-overlay" 
     *ngIf="isWalletsVisible" 
     (click)="hideWallets()">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <app-modal-qr (closeModal)="hideWallets()"></app-modal-qr>
    </div>
</div>