
<div class="parent-login">
   <div class="div-container" >
    <div class="box-icon" >
        <div class="icon" ></div>
    </div>
    <div class="box-text-1">
        <input 
            class="input-text-1" 
            type="text" 
            placeholder="Usuario">
    </div>
    <div class="box-text-2">
        <input 
            class="input-text-2" 
            type="text" 
            placeholder="Contraseña">
    </div>
    <button  class="box-button" >
        <p class="box-button-text" >Iniciar Sesión</p>
    </button>
    <div  class="box-text-4" >
        <p class="text-login" >¿No tienes una cuenta?</p> <p class="text-login-register" >registrate</p>
    </div>
   </div>
</div>

