<div class="generic-container">
    <div class="body-3-sub-title">Testimonios</div>
    <div #carouselContainer class="carousel-container">
        
        <div class="item-1" data-index="0">
            <div class="box-1">
                <div class="rectangle">
                    <input type="checkbox" id="video-toggle-1" class="video-checkbox">
                    <label for="video-toggle-1" class="rectangle-movie"></label>
                    <div class="video-container">
                        <iframe
                            src="https://www.youtube.com/embed/zEcYZi_46TA?autoplay=0&mute=0&enablejsapi=1&rel=0"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="item-2" data-index="1">
            <div class="box-2">
                <div class="rectangle">
                    <input type="checkbox" id="video-toggle-2" class="video-checkbox">
                    <label for="video-toggle-2" class="rectangle-movie"></label>
                    <div class="video-container">
                        <iframe
                            src="https://www.youtube.com/embed/SoytL4qboGg?autoplay=0&mute=0&enablejsapi=1&rel=0"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="carousel-dots">
        <span class="dot" [class.active]="isActive(0)" (click)="goToSlide(0)"></span>
        <span class="dot" [class.active]="isActive(1)" (click)="goToSlide(1)"></span>
    </div>
</div>