<div class="parent-body-simulator-capa-1" >
   
    <div class="block-1" >
        <div [routerLink]="['/simulator-investor']" routerLinkActive="active" class="icon-1" ></div>
        <div  [routerLink]="['/simulator-promoter']" routerLinkActive="active" class="icon-2" ></div>
        <div [routerLink]="['/simulator-leader']" routerLinkActive="active" class="icon-3" ></div>
        <div class="text-invent" >
            Lider
        </div>
        <div class="box-2-title" >
            $ Inversión (USD):
        </div>
        <div class="box-2-number" >
            <div class="input-container">
                <input 
                    type="number" 
                    class="amount" 
                    value="4000.00" 
                    step="0.01" 
                    min="0" 
                    (input)="updateInvestment($event)"
                >
                <div class="input-overlay">
                    <span class="integer"></span>
                    <span class="decimal"></span>
                </div>
            </div>
        </div> 
        <div class="title-box-3"> Tu licencia</div>
        <div class="block-1-box-3" >
            <div class="box-3-card" [ngStyle]="{
        'background-image': 'url(/assets/image/' + currentCard + '.svg)'
        }"></div>
        </div>
     
    </div>
    
    <div class="block-1-5" >
        <div class="currency" > Ganancias </div>
        <div class="block-1-box-4-text-1">Semanal:</div>
        <div class="amount-percentaje-1">{{weeklyPercentage}}%</div>
        <div class="block-1-box-4-text-2">Mensual:</div>
        <div class="amount-percentaje-2">{{monthlyPercentage}}%</div>
        <div class="block-1-box-4-text-3">Anual:</div>
        <div class="amount-percentaje-3">{{yearlyPercentage}}%</div> 
    </div>
    
    <app-mobile-orbit-leader></app-mobile-orbit-leader>
    
    
    