
<div class="generic-container">
    <div class="body-6-sub-title" >Inversores satisfechos</div>        
    <div #carouselContainer class="carousel-container">
        
        <div class="item-1" data-index="0">
            <div class="box-1" >
                <div class="image-test-1" ></div>
                <div class="body-6-box-1-title" >Giancarlo</div>
                <div  class="bar-1" ></div>
                <div class="body-6-box-1-text" >
                    Descubrí el arbitraje financiero y mis inversiones ahora crecen
                    significativamente gracias a esta estrategia. Desde que me uní a un equipo de expertos,
                    he logrado resultados excepcionales en mi cartera, dándome más confianza y entusiasmo por 
                    el futuro financiero.
                </div>
            </div>
        </div>
        <div class="item-2" data-index="1">
            <div class="box-2" >
                <div class="image-test-2" ></div>
                <div class="body-6-box-2-title" >Eduard</div>
                <div  class="bar-2" ></div>
                <div class="body-6-box-2-text" >
                Descubrí el arbitraje financiero y mis inversiones ahora crecen
                significativamente gracias a esta estrategia. Desde que me uní a un equipo de expertos,
                he logrado resultados excepcionales en mi cartera, dándome más confianza y entusiasmo por 
                el futuro financiero.
                </div>
            </div>
        </div>
        <div class="item-3" data-index="2">
            <div class="box-3" >
                <div class="image-test-3" ></div>
                <div class="body-6-box-3-title" >Chema</div>
                <div  class="bar-3" ></div>
                <div class="body-6-box-3-text" >
                    Descubrí el arbitraje financiero y mis inversiones ahora crecen
                    significativamente gracias a esta estrategia. Desde que me uní a un equipo de expertos,
                    he logrado resultados excepcionales en mi cartera, dándome más confianza y entusiasmo por 
                    el futuro financiero.
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-dots">
        <span class="dot" [class.active]="isActive(0)" (click)="goToSlide(0)"></span>
        <span class="dot" [class.active]="isActive(1)" (click)="goToSlide(1)"></span>
        <span class="dot" [class.active]="isActive(2)" (click)="goToSlide(2)"></span>
    </div>
</div>

